<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
	</head>
	<body>
		<h1>{{title}}</h1>
		<p>This is just one thing:</p>
		{{#thing}}
		<h2>{{id}}</h2>
		<ul>
			<li>Name: {{name}}</li>
			<li>Value: {{value}}</li>
		</ul>
		{{/thing}}
	</body>
</html>